@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

.certpage-tw .mt-city-explore {
  .listBox .item .title {
    font-size: 65px;
    line-height: 1;
    margin: 0 0 3.5%;
    padding-top: 10px;

    @media screen and (max-width: 1000px) {
      font-size: 60px;
    }

    @media screen and (max-width: 767px) {
      font-size: 36px;
    }

    // @media screen and (max-width: 500px) {
    //   font-size: 30px;
    // }
  }
}

/* 20231229 新增*/
.mt-city-exhibition .sub-item {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5rem;
  padding-top: .5rem;
  background: #f8f8f8;
}

.mt-city-exhibition .subtitle {
  font-size: 1.2em;
  width: 50%;
  padding: .5rem 0 .5rem 1rem;
  color: #646464;
}

.mt-city-exhibition .contentBox .infoBox .listBox {
  flex-direction: column;
}

.mt-city-exhibition .contentBox .infoBox .listBox .title {
  padding: 1rem 0 0 0;
}

.mt-city-exhibition .contentBox .infoBox .listBox .item:nth-child(2) {
  margin-top: 1rem;
}

.mt-city-exhibition .contentBox .infoBox .listBox .info.traffic {
  flex-direction: unset;
}

.mt-city-exhibition .contentBox .infoBox .listBox .info.traffic .sub-info {
  width: 50%;
}

@media screen and (max-width: 1280px) {
  .mt-city-exhibition .subtitle {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  .mt-city-exhibition .sub-item {
    flex-direction: column;
  }

  .mt-city-exhibition .subtitle {
    width: 100%;
  }
}

.mt-city-link .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mt-city-link .pic {
  text-align: center;
}

.mt-city-link .listBox {
  justify-content: space-evenly;
}

/* 20231229 新增*/