@import '../../sass/variable'; //Variable
@import '../../sass/mixin'; //Mixin

.mt-city-banner {
  position: relative;
  overflow: hidden;
  max-height: 80vh;
  max-height: 80dvh;
  overflow: hidden;
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;

  .pic {
    line-height: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title {
    position: absolute;
    background: rgba(0, 0, 0, 0.25);
    font-size: 30px;
    font-weight: bold;
    z-index: 9;
    top: 0;
    left: 0;
    line-height: 1;
    padding: 3%;
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 100%;
      padding: 20px 15px 15px;
      font-size: 20px;
    }

    @media screen and (max-width: 600px) {
      font-size: 18px;
    }

    @media screen and (max-width: 767px) {
      font-size: 16px;
    }

    span {
      font-size: 75px;
      display: block;
      margin: 0 0 0 30px;
      padding: 0 0 0 30px;
      position: relative;

      @media screen and (max-width: 767px) {
        font-size: 50px;
      }

      @media screen and (max-width: 600px) {
        font-size: 30px;
        margin: 0 0 0 15px;
        padding: 0 0 0 15px;
      }

      @media screen and (max-width: 500px) {
        font-size: 26px;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        bottom: 15px;
        width: 1px;
        background: #fff;
        opacity: .8;

        @media screen and (max-width: 767px) {
          bottom: 5px;
        }
      }
    }
  }

  .listBox {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9;
    max-width: 50%;

    @media screen and (max-width: 767px) {
      max-width: 100%;
    }

    .item {
      background: #000;
      position: relative;

      .cityName {
        position: absolute;
        inset: 10px 10px 0px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 32px;
        font-weight: bold;
        line-height: 1;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0);
        transition: all 0.3s linear;

        @media screen and (max-width: 1280px) {
          font-size: 24px;
        }

        @media screen and (max-width: 1000px) {
          font-size: 16px;
        }

        @media screen and (max-width: 767px) {
          font-size: 14px;
        }
      }

      .pic {
        max-width: 210px;
        aspect-ratio: 210/170;
        overflow: hidden;

        @media screen and (max-width: 767px) {
          aspect-ratio: 210/100;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          opacity: .65;
          transition: all 0.3s linear;
        }
      }

      a {
        color: #fff;
      }

      &:hover {
        img {
          opacity: .8;
        }

        .cityName {
          text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
        }
      }
    }
  }
}