<!-- css -->
<link rel="stylesheet" href="components/mt-search/mt-search.css" />

<div class="mt-search">
  <div class="container">
    <div class="col" data-aos="fade-right" data-aos-delay="0">
      <h1 class="title">Origin of Sustainable MICE</h1>
      <div class="description">
        The government of our country has begun planning possible pathways to achieve the net-zero emissions target by 2050. In addition to promoting energy transition, systematic decarbonization strategies need to be planned in sectors such as manufacturing, transportation, housing, and
        agriculture. <br /><br />
        Given that the MICE (Meetings, Incentives, Conferences, and Exhibitions) industry is a leading sector in the service industry, driving many related industries, it cannot remain indifferent to climate issues and government policies.
        <br /><br />
        Since 2013, the International Trade Administration, Ministry of Economic Affairs, has been promoting the concept of green MICE through MEET TAIWAN. It assists Taiwanese MICE industry practitioners to "Stay Green, Go Sustainable" by establishing green concepts, encouraging action, and
        providing guidance for obtaining international certifications.
        <br /><br />
        The goal is to continuously align the MICE industry with international standards and make sustainability a characteristic of Taiwan's MICE industry, exerting continuous influence.
      </div>
    </div>
    <div class="col" data-aos="fade-left" data-aos-delay="300"><img src="images/m1/about.jpg" /></div>
  </div>
</div>
